{%load bootstrap4%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    {%block styles%}
    {%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    {%endblock%}
</head>

<body>
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" id="top">
                        <img class="logo" src="{%static 'images/logo.png'%}">
                        <p>
                            <h3>Instagram</h3>
                        </p>

                    </div>
                    <div class="col-md-4">
                        <form class="mb-0 h1 ml-auto mr-auto"  id="searchform" action="{% url 'search' %}" style="margin-top: 20px;">
                            <input name="search_user" autocomplete="off" id="searching"
                                class="form-control d-none d-md-block" placeholder="Search">
                            <i class="spinner "></i>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </nav>

</body>

</html>