{%extends "base.html"%}
{%load static%}
{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>

<body>
    {%block content%}
    {%include 'navbar.html'%}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {%for imagepost in imageposts%}
                <div class="card mb-4">
                    <div class="card-title">
                        <img src="{{profPic.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                            width="35" height="35">
                        <a href="{% url 'user_profile' photo.user.username  %}"
                            class="mt-4 user">{{photo.user.username}}</a>
                    </div>
                    {% endfor %}
                    <article class="media content-section"></article>
                    <img class="rounded-circle article-img" src="{{photo.user.profile.photo.url}}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#" {{image.user}}></a>

                        </div>
                        <h2><a class="ImagePost-title" href="#"> {{ImagePost.photo}}</a></h2>
                        <p class="image-content">{{photo.caption}}</p>
                    </div>
                    <p>New Posts</p>
                </div>
                </article>
                <div class="col-md-2">Suggestions</div>

            </div>
        </div>

        {%endblock%}

</body>

</html>